In [2]:
#importing libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [7]:
# connecting to the webdriver
driver=webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")  
driver.maximize_window()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")     #getting the webpage

#creating empty list
rank=[] 
name=[] 
artist=[] 
upload =[] 
views=[]

time.sleep(2)

#fetching rank
r=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
for i in r:
    rank.append(i.text)

#fetching name    
n=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
for i in n:
    name.append(i.text)
    
#fetching artist
a=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
for i in a:
    artist.append(i.text)

#fetching upload date    
u=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
for i in u:
    upload.append(i.text)    

#fetching views    
v=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
for i in v:
    views.append(i.text)    
    
MostViewed=pd.DataFrame({})    #creating dataframe
#Since there are two different tables , and our required data is in first, hence we fetch it using indexing 
MostViewed['Rank']=rank[0:30] 
MostViewed['Name of video']=name[0:30]
MostViewed['Artist']=artist[0:30]
MostViewed['Upload Date']=upload[0:30]
MostViewed['Views']=views[0:30]
MostViewed

,Rank,Name of video,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.90
1,2.,"""Despacito""[5]",Luis Fonsi,"January 12, 2017",7.68
2,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,"October 8, 2016",6.06
3,4.,"""Shape of You""[12]",Ed Sheeran,"January 30, 2017",5.57
4,5.,"""See You Again""[14]",Wiz Khalifa,"April 6, 2015",5.37
5,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.79
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,"February 27, 2018",4.54
7,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,"January 31, 2012",4.48
8,9.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.41
9,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",4.37
10,11.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.29
11,12.,"""Dame Tu Cosita""[29]",El Chombo,"April 5, 2018",3.77
12,13.,"""Sugar""[30]",Maroon 5,"January 14, 2015",3.61
13,14.,"""Sorry""[31]",Justin Bieber,"October 22, 2015",3.50
14,15.,"""Roar""[32]",Katy Perry,"September 5, 2013",3.49
15,16.,"""Counting Stars""[33]",OneRepublic,"May 31, 2013",3.47
16,17.,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.44
17,18.,"""Thinking Out Loud""[35]",Ed Sheeran,"October 7, 2014",3.38
18,19.,"""Girls Like You""[36]",Maroon 5,"May 31, 2018",3.20
19,20.,"""Faded""[37]",Alan Walker,"December 3, 2015",3.20
20,21.,"""Dark Horse""[38]",Katy Perry,"February 20, 2014",3.20
21,22.,"""Axel F""[39]",Crazy Frog,"June 16, 2009",3.15
22,23.,"""Bailando""[40]",Enrique Iglesias,"April 11, 2014",3.14
23,24.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.14
24,25.,"""Lean On""[42]",Major Lazer,"March 22, 2015",3.14
25,26.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.13
26,27.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.05
27,28.,"""Mi Gente""[45]",J Balvin,"June 29, 2017",3.02
28,29.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.02
29,30.,"""Baa Baa Black Sheep""[47]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.01

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [ ]:
driver=webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe") 
driver.maximize_window()
driver.get('https://www.bcci.tv/')
driver.maximize_window()

btn=driver.find_element_by_xpath("//div[@class = 'navigation__drop-down drop-down drop-down--reveal-on-hover']/div/ul/li/a")
driver.get(btn.get_attribute("href"))
match_title=[]
series=[]
place=[]
date=[]
time=[]
datetime=[]
for i in driver.find_elements_by_xpath("//div [@class = 'fixture__format-strip']/ span [@class = 'u-unskewed-text fixture__format']"):
    match_title.append(i.text)
    
for i in driver.find_elements_by_xpath("//div [@class = 'fixture__format-strip']/ span [@class = 'u-unskewed-text fixture__tournament-label u-truncated']"):
    series.append(i.text)

for i in driver.find_elements_by_xpath("//div [@class = 'fixture__description u-unskewed-text']/p/span"):
    place.append(i.text)
    
for i in driver.find_elements_by_xpath("//div [@class = 'fixture__datetime desktop-only']"):
    datetime.append(i.text.replace('\n',' '))
    
driver.close()

date=[i.split(' ',3)[:3] for i in datetime]
date=[' '.join(i) for i in date]
time=[i.split(' ',3)[-1] for i in datetime]
matches_data=pd.DataFrame({'match title':match_title,
                          "series":series,
                          "place":place,
                          "date":date,
                          "time":time})
matches_data

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [11]:
driver=webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")
#getting the webpage
driver.get("https://www.guru99.com/")    

selenium=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a").click()
time.sleep(2)
#clicking on Exception Handling 
exhand=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong").click()

 #empty list
name=[]  
desc=[]  

n=driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[1]")  #fetching name
for i in n:
    name.append(i.text)
    
d=driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[2]")  #fetching description
for i in d:
    desc.append(i.text)    
    
Exception = pd.DataFrame({})   #creating the dataframe

Exception['Name of Exception']=name[1:]
Exception['Description']=desc[1:]
Exception

,Name of Exception,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [43]:
driver=webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")
driver.get('http://statisticstimes.com/')
driver.maximize_window()


href=[]
for i in driver.find_elements_by_xpath("//div [@class = 'dropdown']/div [@class = 'dropdown-content']/a"):
    href.append(i.get_attribute('href'))
driver.get(href[4])

href_1=[]
for i in driver.find_elements_by_xpath("//div [@style = 'float:left;background-color:seashell;width:400px;height:800px;']/ul [@style = 'list-style-type:none;margin-left:20px;']/li/a"):

    if i.text=='» GDP of Indian states':
        href_1.append(i.get_attribute('href'))
        
driver.get(href_1[0])

rank=[]
state=[]
gsdp20=[]
gsdp19=[]
share=[]
gdp=[]
details=[]

for i in driver.find_elements_by_xpath("//tbody /tr [@role = 'row']/td"):
    details.append(i.text)
driver.close()
details=details[:264]

j=0
while j<len(details):
    rank.append(details[j])
    j+=1
    state.append(details[j])
    j+=1
    gsdp20.append(details[j])
    j+=1
    gsdp19.append(details[j])
    j+=1
    share.append(details[j])
    j+=1
    gdp.append(details[j])
    j+=3
GDP_data=pd.DataFrame({"rank":rank,
                      "state":state,
                      "gsdp20":gsdp20,
                      "gsdp19":gsdp19,
                      "shape":share,
                      "GDP($ billion)":gdp})
GDP_data

,rank,state,gsdp20,gsdp19,shape,GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [ ]:
driver=webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")
driver.get('https://github.com/')
driver.maximize_window()

button=driver.find_element_by_xpath("//ul [@class= 'list-style-none mb-3']/li [@class = 'edge-item-fix']/a [@data-ga-click = '(Logged out) Header, go to Trending']")
driver.get(button.get_attribute('href'))
href=[]
for i in driver.find_elements_by_xpath("//h1 [@class = 'h3 lh-condensed']/a"):
    href.append(i.get_attribute('href'))
    
driver.close()

Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

for i in href:
    driver=webdriver.Chrome(r"C:\Users\satyam\Downloads\chromedriver_win32 (2)\chromedriver.exe")
    driver.get(i)
    driver.maximize_window()
    
    tit=driver.find_element_by_xpath("//h1 [@class = ' d-flex flex-wrap flex-items-center break-word f3 text-normal']")
    Repository_title.append(tit.text.replace('\n',' '))
    
    try:
        des=driver.find_element_by_xpath("//div [@class = 'BorderGrid-cell']/p [@class = 'f4 mt-3']")
        Repository_description.append(des.text)
    except:
        Repository_description.append("-")
    count=[]
    try:
        for i in driver.find_elements_by_xpath("//h2 [@class = 'h4 mb-3']//span [@class = 'Counter ']"):
            count.append(i.get_attribute('title'))
            Contributors_count.append(count[-1])
    except:
        Contributors_count.append('1')
        lang=[]
        for i in driver.find_elements_by_xapth("//ul [@class = 'list-style-none']/li [@class = 'd-inline']//span"):
            lang.append(i.text)
        if(" ".join(lang))=='':
            Language_used.append('-')
        else:
            Language_used.append(" ".join(lang))
        driver.close()
github=pd.DataFrame({
    "Repository_Title":Repository_title,
    "Repository_description":Repository_description,
    "Contributors_count":Contributors_count[:25],
    "Language_used":Language_used
})
github

6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [22]:
driver=webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")
#getting the webpage
driver.get("https://www.billboard.com/")    
chart=driver.find_element(By.XPATH,"/html/body/div[4]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a").click() #clicking on charts
time.sleep(2)
hotpage=driver.find_element(By.XPATH,"/html/body/div[4]/header/div[2]/div/nav/ul/li[1]/a").click() #clicking on hot-100

#empty list
song=[]   
artist=[] 
lrank=[]  
prank=[]  
week=[]   

#fetching song name
s=driver.find_elements(By.XPATH,"//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li/h3")
for i in s:
    song.append(i.text)
    
a=driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[1]/span") #fetching artist name
for i in a:
    artist.append(i.text)
    
l=driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[4]") #fetching last week rank
for i in l:
    lrank.append(i.text)

p=driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[5]") 
for i in p:
    prank.append(i.text)

w=driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[6]") 
for i in w:
    week.append(i.text)    
#creating the dataframe    
Song=pd.DataFrame({})  
Song['Song Name']=song
Song['Artist Name']=artist
Song['Last Week Rank']=lrank
Song['Peak Rank']=prank
Song['Weeks On Board']=week
Song

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,All I Want For Christmas Is You,Mariah Carey,2,1,49
1,Rockin' Around The Christmas Tree,Brenda Lee,3,2,43
2,Easy On Me,Adele,1,1,10
3,Jingle Bell Rock,Bobby Helms,6,3,40
4,A Holly Jolly Christmas,Burl Ives,5,4,24
...,...,...,...,...,...
95,No Love,Summer Walker & SZA,78,13,6
96,Bad Man (Smooth Criminal),Polo G,70,49,5
97,Feel Alone,Juice WRLD,-,98,1
98,Heart On Fire,Eric Church,95,89,4
99,Bubbly,Young Thug With Drake & Travis Scott,91,20,9

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [37]:
driver=webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")
url = "https://www.naukri.com/"
driver.get(url)
time.sleep(2)

#Clicking on recruiters link
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))
time.sleep(1)

#Accesing search bar
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")
time.sleep(1)

#Clicking on search button
button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
button.click()
time.sleep(1)
#Declaring empty lists to store values
name=[]
designation=[]
company=[]
skills=[]
location=[]
#Extracting Name from the page
for i in driver.find_elements_by_xpath("//p[@class='highlightable']/a/span[1]"):
    name.append(i.text)

#Extracting Designation 
for j in driver.find_elements_by_xpath("//p[@class='highlightable']/span[1]"):
    designation.append(j.text)
    
#Extracting Company 
for k in driver.find_elements_by_xpath("//a[@class='ellipsis'][2]"):
    company.append(k.text)

#Extracting Skills they hire for
for l in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    skills.append(l.text)
    
#Extracting Location
soup=BeautifulSoup(driver.page_source,'html.parser')
l=soup.find_all('div',attrs={'vcard'})
for i in l:
    try:
        location.append(i.find('small').text)
    except AttributeError :
        location.append("No details available")
#Checking records in each variable
print(len(name),len(designation),len(company),len(skills),len(location))
#Creating dataframe
naukri=pd.DataFrame({})
naukri['Name']=name
naukri['Designation']=designation
naukri['Company']=company
naukri['Skills']=skills
naukri['Location']=location
#Final Dataset
naukri

50 50 50 50 50

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",No details available
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
33,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",No details available
48,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
49,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [26]:
driver=webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")
#getting the webpage
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
book=[]    #empty list
author=[]  #empty list
vol=[]     #empty list
pub=[]     #empty list
genre=[]   #empty list

b=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")  #fetching book name
for i in b:
    book.append(i.text)
    
a=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")  #fetching author name
for i in a:
    author.append(i.text)

v=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]")  #fetching volumes sold
for i in v:
    vol.append(i.text)
    
p=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")  #fetching publisher
for i in p:
    pub.append(i.text)

g=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")  #fetching genre
for i in g:
    genre.append(i.text)
    
Books=pd.DataFrame({})   #creating the dataframe
Books['Book Name']=book
Books['Author Name']=author
Books['Volumes Sold']=vol
Books['Publisher']=pub
Books['Genre']=genre
Books

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [27]:
driver=webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")
driver.get("https://www.imdb.com/list/ls095964455/")    #getting the webpage
name=[]   #empty list
year=[]   #empty list
gen=[]    #empty list
run=[]    #empty list
rate=[]   #empty list
vote=[]   #empty list

n=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")  #fetching name
for i in n:
    name.append(i.text)
    
y=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")  #fetching year span
for i in y:
    year.append(i.text)
    
gn=driver.find_elements(By.XPATH,"//span[@class='genre']")  #fetching genre
for i in gn:
    gen.append(i.text)
    
rn=driver.find_elements(By.XPATH,"//span[@class='runtime']")  #fetching run time
for i in rn:
    run.append(i.text)
    
r=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-widget']/div[1]/span[2]")  #fetching ratings
for i in r:
    rate.append(i.text)
    
v=driver.find_elements(By.XPATH,"//div[@class='lister-item-content']/p[4]/span[2]")  #fetching votes
for i in v:  
    vote.append(i.text)

TVShows=pd.DataFrame({})    #creating the dataframe
TVShows['Name']=name
TVShows['Year Span']=year
TVShows['Genre']=gen
TVShows['Run Time']=run
TVShows['Ratings']=rate
TVShows['Votes']=vote
TVShows

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,919,680"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"944,475"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"918,585"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"275,044"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"235,412"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"46,901"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,695"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"181,942"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,034"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"216,160"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [28]:
driver=webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")
 #getting the webpage
driver.get("https://archive.ics.uci.edu/")   
aldata=driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b").click() 
time.sleep(2)

#empty list
dataset=[]    
datatype=[]   
task=[]      
attribute=[] 
inst=[]      
attr=[]      
yr=[]         
#fetching dataset names
ds=driver.find_elements(By.XPATH,"//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]")  
for i in ds:
    dataset.append(i.text)
#fetching data type   
dt=driver.find_elements(By.XPATH,"//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")  
for i in dt:
    datatype.append(i.text) 
#fetching task    
tk=driver.find_elements(By.XPATH,"//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")  
for i in tk:
    task.append(i.text)
#fetching attribute type    
at=driver.find_elements(By.XPATH,"//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")  
for i in at:
    attribute.append(i.text) 
 #fetching number of instances    
ins=driver.find_elements(By.XPATH,"//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]") 
for i in ins:
    inst.append(i.text)
#fetching number of attributes    
att=driver.find_elements(By.XPATH,"//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")  
for i in att:
    attr.append(i.text) 
#fetching year    
y=driver.find_elements(By.XPATH,"//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")    
for i in y:
    yr.append(i.text)  

Datasets=pd.DataFrame({})   #creating the dataframe
Datasets['Dataset Name']=dataset
Datasets['Data Type']=datatype
Datasets['Task']=task
Datasets['Attribute Type']=attribute
Datasets['Number of Instances']=inst
Datasets['Number of Attributes']=attr
Datasets['Year']=yr
Datasets[1:]

,Dataset Name,Data Type,Task,Attribute Type,Number of Instances,Number of Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
618,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
619,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
620,Maternal Health Risk Data Set,,Classification,,1014,7,2020
621,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
622,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021