In [ ]:
#installing the selenium library
#!pip install selenium

In [1]:
#import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementClickInterceptedException
import warnings
warnings.filterwarnings('ignore')

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data. This task will be done in following steps: 
1. First get the webpage https://www.naukri.com/ 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field. 
3. Then click the search button. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data

In [20]:
#connecting the web driver
driver = webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

#specifiy the url of the webpage to be scrapped
driver.get("https://www.naukri.com/")
#finding element for job search bar
search_title=driver.find_element_by_xpath("//div[@class='inpWrap']/input[@id='qsb-keyword-sugg']")
search_title.send_keys('Data Analyst')
search_location=driver.find_element_by_xpath("//div[@class='inpWrap']/input[@id='qsb-location-sugg']")
search_location.send_keys('Bangalore')

#button click tag
search=driver.find_element_by_xpath("//div[@class='search-btn']/button[@class='btn']")
search.click()

In [21]:
#empty list for all tags
job_title=[]
job_location=[]
company_name=[]
job_experience=[]

#extract the tags having the job-title
title_tag=driver.find_elements_by_xpath("//div[@class='info fleft']//a[@class='title fw500 ellipsis']")
for i in title_tag:
    job_title.append(i.text)

#extract the tags having the job-location    
company_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in company_location:
        job_location.append(i.text)
    
#extract the tags having the job-name    
job_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in job_name:
        company_name.append(i.text)

#extract the tags having the job-name 
job_exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in job_exp:
    job_experience.append(i.text)
    
#length of allthe tags
print(len(job_title),len(job_location),len(company_name),len(job_experience)) 

#Making DataFrame for 10 job postion
import pandas as pd
Scrapped_data=pd.DataFrame({})
Scrapped_data['Skill']=job_title[:10]
Scrapped_data['Job Location']=job_location[:10]
Scrapped_data['Company Name']=company_name[:10]
Scrapped_data['Desgination']=job_experience[:10]
Scrapped_data

20 20 20 20

,Skill,Job Location,Company Name,Desgination
0,Business Data Analyst - Database Design/Mining,Bangalore/Bengaluru,AugmatrixGo,2-5 Yrs
1,Data Analyst,Bangalore/Bengaluru,Applied Materials,0-3 Yrs
2,Data Analyst,Bangalore/Bengaluru,Shell,5-8 Yrs
3,Data Analyst,Bangalore/Bengaluru,Shell,5-10 Yrs
4,Business Data Analyst - MIS & Reporting,"Mumbai, Bangalore/Bengaluru",INTERTRUST GROUP,3-8 Yrs
5,Business Data Analyst,Bangalore/Bengaluru,NetApp,5-10 Yrs
6,Senior Data Analyst - SQL/Tableau/Redshift,"Noida, Mumbai, Indore, Hyderabad/Secunderabad,...",Pronto Consulting Services,6-10 Yrs
7,Power BI - Data Analyst - Biocon Biologics,Bangalore/Bengaluru,BIOCON BIOLOGICS LIMITED,3-8 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Utthunga Technologies Pvt Ltd,3-4 Yrs
9,ID&A - Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell,5-9 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. 
This task will be done in following steps: 
1. First get the webpage https://www.naukri.com/ 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field. 
3. Then click the search button. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [13]:
#connecting the web driver
driver = webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

#specifiy the url of the webpage to be scrapped
url='https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore'
driver.get(url)
#calling empty list to store the different data
job_titles=[]
job_location=[]
company_name=[]
job_description=[]
Job_link=[]

#extract the tags having the job-title 
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for j in title_tags[:10]:
    job_titles.append(j.text)
    
#extracting the tags having the location 
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for j in location_tags[:10]:
    job_location.append(j.text)
    
#extracting the tags having the company name
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for j in company_tags[:10]:
    company_name.append(j.text)
    
# extracting the tags having the each job link
url_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for j in url_tags[:10]:
    Job_link.append(j.get_attribute('href'))
#Making for loop for extracting description of a job
for j in Job_link:
    driver.get(j)
    try:
        job_description.append((driver.find_element_by_xpath("//section[@class='job-desc']")).text)
    except NoSuchElementException:
        job_description.append("NA")
        
#length of the tag
print(len(job_titles),len(job_location),len(company_name),len(job_description),len(Job_link))

import pandas as pd
##Making DataFrame for 10 job postion
Data_scientist=pd.DataFrame({})
Data_scientist['job_titles']=job_titles
Data_scientist['job_location']=job_location
Data_scientist['company_name']=company_name
Data_scientist['Job_link']=Job_link
Data_scientist['job_description']=job_description
Data_scientist['job_description']=Data_scientist['job_description'].str.replace('\n',' - ')
Data_scientist

10 10 10 10 10

,job_titles,job_location,company_name,Job_link,job_description
0,Forecasting Analyst/ Data Scientist (US Client),"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",Concentrix Daksh Services,https://www.naukri.com/job-listings-forecastin...,Job description - Roles and Responsibilities -...
1,Data Scientist,Bangalore/Bengaluru,Oracle India Pvt. Ltd.,https://www.naukri.com/job-listings-data-scien...,NA
2,Senior Data Scientist,Bangalore/Bengaluru,Kwalee India Pvt Ltd.,https://www.naukri.com/job-listings-senior-dat...,Job description - Kwalee is one of the world's...
3,Senior Data Scientist,Bangalore/Bengaluru(Sadashiva Nagar)\n(WFH dur...,Convergence Infotech Ltd,https://www.naukri.com/job-listings-senior-dat...,NA
4,Senior Data Scientist | Fortune 500 Supermarke...,Bangalore/Bengaluru,TALENT500 TECH (INDIA) PRIVATE LIMITED,https://www.naukri.com/job-listings-senior-dat...,NA
5,Data Scientist,Bangalore/Bengaluru,Visa,https://www.naukri.com/job-listings-data-scien...,Job description - Essential Functions - Serve ...
6,Lead Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",TransOrg Solutions Services (P) Ltd.,https://www.naukri.com/job-listings-lead-data-...,NA
7,Senior Data Scientist / Tech Lead - SQL / Pyth...,"Pune, Chennai, Bangalore/Bengaluru",Exploro Solutions,https://www.naukri.com/job-listings-senior-dat...,NA
8,Senior / Lead Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",CoreEdge Solutions,https://www.naukri.com/job-listings-senior-lea...,NA
9,Looking For Senior Data Scientist Immediate Jo...,Bangalore/Bengaluru,Mount Talent Consulting Private Limited,https://www.naukri.com/job-listings-looking-fo...,NA

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below: 
You have to use the location and salary filter. 
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs 
The task will be done as shown in the below steps: 
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field. 
3. Then click the search button. 
4. Then apply the location filter and salary filter by checking the respective boxes 
5. Then scrape the data for the first 10 jobs results you get. 
6. Finally create a dataframe of the scraped data.

In [71]:
#connecting the web driver
driver = webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")
#calling site
driver.get("https://www.naukri.com/")
#extraction preocess
search_bar=driver.find_element_by_id("qsb-keyword-sugg") #search bar
search_bar.clear()  #clearing search bar
search_bar.send_keys("Data Scientist")   #inserting "Data science" in search bar
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click() #clicking on search button
time.sleep(4)
driver.find_element_by_xpath('//*[@title="Delhi / NCR"]').click()   #setting location filter delhi
time.sleep(4)
driver.find_element_by_xpath('//*[@title="3-6 Lakhs"]').click()   #setting salary
time.sleep(4)

In [72]:
#extracting the required data
titles=[] #empty list for job_title
location=[] #empty list for location
company=[] #empty list for company name
exprience=[] #empty list for experiance_requires


#job_title
title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in title:
    titles.append(i.text)
titles=titles[:10]

#location
locationElement=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in locationElement:
    location.append(i.text)
location=location[:10]

#company_name
companyElement=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in companyElement:
    company.append(i.text)
company=company[:10]

#experiance_required
expr=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in expr:
    exprience.append(i.text)
exprience=exprience[:10]

driver.close()
#Making DataFrame
df=pd.DataFrame({})
df["Job_Title"]=titles
df["Location"]=location
df["Company_Name"]=company
df["Experiance_required"]=exprience
df

,Job_Title,Location,Company_Name,Experiance_required
0,Data Scientist,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,...",Think i,0-2 Yrs
1,Data Scientist,"Pune, Bangalore/Bengaluru, Delhi / NCR\n(WFH d...",ThinkBumblebee Analytics Pvt. Ltd.,2-6 Yrs
2,Data Scientist III-2,Gurgaon/Gurugram,Concentrix Daksh Services,3-8 Yrs
3,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL Technologies,4-7 Yrs
4,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs
5,Data Scientist,Noida(Sector-126 Noida),MoMagic Technologies Pvt. Ltd.,4-6 Yrs
6,Data Scientist,Noida(Sector-126 Noida),MoMagic Technologies Pvt. Ltd.,4-6 Yrs
7,Urgent Hiring || Data Scientist || Delhi,Delhi / NCR,Shriram Automall India Limited,2-7 Yrs
8,Data Scientist,Noida,SVK Global Solutions Private Limited,6-10 Yrs
9,Academic Counsellor - Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",GreatLearning,1-4 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 
1. Brand 
2. Product Description 
3. Price 
The attributes which you have to scrape is ticked marked in the below image. 
To scrape the data you have to go through following steps: 
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon 
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data as usual. 
4. After scraping data from the first page, go to the “Next” Button at the bottom of the page , then 
click on it. 
5. Now scrape data from this page as usual 
6. Repeat this until you get data for 100 sunglasses.

In [45]:
#connecting the web driver
driver=webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")
#getting Url
url="https://www.flipkart.com/"
driver.get(url)
#finding element for job search bar
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.send_keys('sunglasses')
#click on search button:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [46]:
#calling empty list to store the different data
brands = []
descriptions = []
prices = []
discounts = []

#Making loop to get first 3 pages to get 100 products value
for i in range(0,3):
    time.sleep(5)
    #getting the information div by class
    divClass = driver.find_elements_by_class_name('_2B099V')
    
    #making loop to get the value from div class
    for i in divClass:
        #appending info to the currsponding lists
        brands.append(i.find_element_by_class_name('_2WkVRV').text)
        descriptions.append(i.find_element_by_class_name('IRpwTa').text)
        prices.append(i.find_element_by_class_name('_30jeq3').text)
        discounts.append(i.find_element_by_class_name('_3Ay6Sb').text.strip(" off"))
    next_page = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        #go to next page
        driver.get(next_page[1].get_attribute('href'))
    except:
        driver.get(next_page[0].get_attribute('href'))
print(len(brands),len(descriptions),len(prices),len(discounts))
#creating dataframe
sunglasses = pd.DataFrame({'Brand':brands[:100],
                'Description':descriptions[:100],
                'Price':prices[:100],
                'Discount':discounts[:100]})
sunglasses

120 120 120 120

,Brand,Description,Price,Discount
0,Elligator,UV Protection Round Sunglasses (54),₹248,90%
1,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35%
2,SRPM,UV Protection Wayfarer Sunglasses (56),₹188,85%
3,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹276,83%
4,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87%
...,...,...,...,...
95,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹311,84%
96,GANSTA,"UV Protection, Riding Glasses Aviator Sunglass...",₹296,85%
97,Singco,UV Protection Aviator Sunglasses (Free Size),₹526,73%
98,hipe,"UV Protection, Gradient, Riding Glasses Wayfar...",₹233,76%
99,NuVew,UV Protection Sports Sunglasses (73),₹330,73%

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
http://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes. These are: 
1. Rating 
2. Review_summary 
3. Full review 
4. You have to scrape this data for first 100 reviews.

In [120]:
#connecting the web driver
driver=webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")
#getting Url
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC")

#finding element for review
all_reviews_btn=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
all_reviews_btn.click()
        
def scrape_rating():
    rating=[]
    driver.refresh()
    rating_el=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    time.sleep(3)
    for i in rating_el:
        try:
            rating.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            rating.append("--")
    return rating

def scrape_review_summary():
    review_sum=[]
    driver.refresh()
    rev_sum=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    time.sleep(3)
    for i in rev_sum:
        try:
            review_sum.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            review_sum.append("--")
    return review_sum

def scrape_full_review():
    full_review=[]
    driver.refresh()
    rev_el=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div")
    time.sleep(3)
    for i in rev_el:
        try:
            full_review.append(i.text.replace("\n","  New Line: "))
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            full_review.append("--")
    return full_review
#calling empty list to store the different data
rating=[]
review_sum=[]
full_review=[]
length=len(rating)
while(length<=100):
    driver.refresh()
    rating.extend(scrape_rating())
    review_sum.extend(scrape_review_summary())
    full_review.extend(scrape_full_review())
    time.sleep(5)
    length=len(rating)
    next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
    next_btn.click()
    
#length of the dataset
length_list=[len(full_review),len(rating),len(review_sum)]
print(length_list)

#creating a DataFrame for the dataset
import pandas as pd
df6=pd.DataFrame()
df6["RATING"]=rating[:100]
df6["REVIEW SUMMARY"]=review_sum[:100]
df6["FULL REVIEW"]=full_review[:100]
df6

[110, 110, 110]

,RATING,REVIEW SUMMARY,FULL REVIEW
0,5,Brilliant,The Best Phone for the Money New Line: New ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Best in the market!,Great iPhone very snappy experience as apple k...
96,5,Great product,Amazing Powerful and Durable Gadget. New Line...
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. 
You have to scrape 4 attributes of each sneaker: 
1. Brand 
2. Product Description 
3. Price

In [74]:
#connecting the web driver
driver=webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")
#getting Url
url="https://www.flipkart.com/"
driver.get(url)

#finding element for job search bar
driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
time.sleep(2)
#finding element for job search bar
search_bar=driver.find_element_by_xpath('//*[@title="Search for products, brands and more"]')   
search_bar.click()
search_bar.send_keys("sneakers")  

#click on search button to get the value of search bar
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

time.sleep(4)
#calling empty list to store the different data
brand=[]  
product_description=[]   
price=[] 
discount=[] 

for i in range(0,4):   #Selecting top 4 page from the flipkart
    for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):   #Making for loop for extracting description of a brand
        brand.append(j.text)
    for k in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):      #Making for loop for extracting description of a product_description
        product_description.append(k.text)

    for l in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):   #Making for loop for extracting description of a price
        price.append(l.text)

    for m in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):   #Making for loop for extracting description of a discount
        discount.append(m.text)
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()      #Clickcing on the next page
    time.sleep(5)

#selecting top 100 
brand=brand[:100]
product_description=product_description[:100]
price=price[:100]
discount=discount[:100]

driver.close()
#Making DataFrame
df=pd.DataFrame({})
df["Brand"]=brand
df["Product_description"]=product_description
df["Price"]=price
df["Discount"]=discount
df

,Brand,Product_description,Price,Discount
0,FOOTGRAB,White Boots || High Tops || Sneakers For Men,₹549,45% off
1,Numenzo,Sneakers For Men,₹479,63% off
2,Magnolia,Sneakers For Men,₹398,60% off
3,SCATCHITE,Sneakers Sneakers For Men,₹398,60% off
4,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹699,56% off
...,...,...,...,...
95,Kraasa,"Casual , Partywear Sneakers Shoes For Men's An...",₹499,50% off
96,Edoeviv,Unique & Perfect Collection Combo Pack of 02 S...,₹499,37% off
97,Shoes Bank,casual for men (beige 06) Sneakers For Men,₹345,65% off
98,CALCADOS,Combo Pack Of 2 Latest Stylish Casual Shoes fo...,₹899,54% off
99,T-ROCK,Fashion Outdoor Canvas Casual Light Weight Lac...,₹399,60% off

# Q7: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [11]:
#connecting the web driver
driver = webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")
url = "https://www.myntra.com/shoes"
#go to myntra shoe section
driver.get(url)
time.sleep(3)
#clicking the filter condition checkboxes
price_el = driver.find_element_by_class_name("price-list")
price_el.find_elements_by_tag_name("li")[1].click()
driver.find_elements_by_class_name("colour-listItem")[0].click()

#initilize product info lists
brands = []
descriptions = []
prices = []
#looping to get 100 products(50 products/page)
for i in range(0,2):
    time.sleep(5)
    #getting the information div by class
    divs = driver.find_elements_by_class_name('product-productMetaInfo')
    for div in divs:
        #appending info to the lists
        brands.append(div.find_element_by_class_name('product-brand').text)
        descriptions.append(div.find_element_by_class_name('product-product').text)
        prices.append(div.find_element_by_class_name("product-price").text.split(".")[1].split("Rs")[0].strip())
    next_page = driver.find_elements_by_xpath("//a[@rel='next']")
    try:
        driver.get(next_page[1].get_attribute('href'))
    except:
        driver.get(next_page[0].get_attribute('href'))

# creating dataframe
shoes = pd.DataFrame({'Brand':brands[:100],
                'Description':descriptions[:100],
                'Price':prices[:100]})
print(shoes)

              Brand                           Description Price
0               H&M                   Chunky Combat Boots  2699
1            ADIDAS        Men Woven Design Running Shoes  2009
2        Eego Italy                    Men Trekking Shoes   899
3   PUMA Motorsport  Unisex Sf Drift Cat 5 Ultra Sneakers  3149
4           ZAPATOZ                    Women Heeled Boots   699
..              ...                                   ...   ...
95         Histeria                 Men Synthetic Loafers   699
96  U.S. Polo Assn.                    Men Solid Sneakers  2199
97       Marc Loire                           Women Pumps   983
98         AfroJack                  Men Slip-On Sneakers   681
99              H&M                           Women Boots  4499

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. 
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image: 
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 
1. Title 
2. Ratings 
3. Price

In [50]:
#connecting the web driver
driver = webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")
driver.get("https://www.amazon.in/")

search=driver.find_element_by_xpath("//input[@class='nav-input nav-progressive-attribute']")
search.send_keys('laptop')

search_button=driver.find_elements_by_xpath("//input[@class='nav-input nav-progressive-attribute']")
search_button[1].click()

titleElement=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
title=[]
for i in titleElement[:10]:
    title.append(i.text)

priceElement=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price=[]
for i in priceElement[:10]:
    price.append(i.text)

url=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

rating_url=[]
for i in url[:10]:
    rating_url.append(i.get_attribute('href'))
    
rating=[]
for i in rating_url[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        
        ratings = driver.find_element(By.XPATH,".//span[@class='a-icon-alt']/..")
        ratings = ratings.get_attribute('innerHTML').split(">")[1].split(" ")[0]
        rating.append(ratings)
    except:
        
        
        rating.append("00")
        
#creating DataFrame for the scraped data
import pandas as pd
laptop_df=pd.DataFrame()
#laptop_df['INDEX']=range(1,11)
laptop_df['TITLE']=title[:10]
laptop_df['RATING']=rating[:10]
laptop_df['PRICE']=price[:10]
laptop_df

                                               TITLE RATING   PRICE
0  HP Pavilion Aero Ultra Thin & Light 13.3-inch(...     00  74,490
1  HP Pavilion 15 Ryzen 5 15.6-inch (39.6 cms) Th...     00  57,023
2  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...     00  27,857
3  HP 15 (2021) Thin & Light 10th Gen Intel Core ...     00  43,990
4  HP Chromebook 14-inch (35.56 cms) Thin & Light...     00  27,567
5  HP 15 10th Gen Intel Core i3 Thin and Light 15...     00  62,290
6  ASUS Computer Notebook 14(2020) Intel Quad Cor...     00  40,990
7  AVITA Cosmos 2 in 1 Celeron Dual Core - (4 GB/...     00  26,990
8  Dell 15 (2021) Athlon Silver 3050U Laptop, 4GB...     00  15,990
9  Lenovo IdeaPad Slim 3 Intel Celeron N4020 14" ...     00  33,449

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps: 
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image 
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter 
“Data Scientist” and click on search button. 
4. You will reach to the following web page click on location and in place of “Search location” enter 
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page. 
6. Finally create a dataframe of the scraped data.

In [107]:
#connecting the web driver
driver = webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

#specifiy the url of the webpage to be scrapped
driver.get("https://www.ambitionbox.com/jobs")

#finding element for job search bar
job_search=driver.find_element_by_xpath("//a[@title='Jobs']")
job_search.click()

#finding web element and search as required
search_element = driver.find_element_by_name('ab_jobsSearch')
search_element.send_keys("Data Scientist")

#Clicking on the button
search_btn=driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")
search_btn.click()

In [108]:
#click on location bar
loc_search = driver.find_element(By.XPATH,"//div[@title='Location']/p").click()

#clicking on location Noida
search_loc = driver.find_element(By.XPATH,"//input[@placeholder='Search locations']")  
search_loc.send_keys("Noida")

#click on Noida for search of location
loc_srch = driver.find_element(By.XPATH,"//input[@id='location_Noida']").click()

In [111]:
#calling empty list to store the different data
Company_Name =[]   
Days =[]
Rating =[]

#for loop for getting company name
companyTag=driver.find_elements(By.XPATH,"//p[@class='company body-medium']")    
for i in companyTag:
    Company_Name.append(i.text)

 #for loop for no. of days ago when job was posted
daytags=driver.find_elements(By.XPATH,"//span[@class='body-small-l'][1]")    
for i in daytags:
    Days.append(i.text)
 #for loop company rating   
ratingtag=driver.find_elements(By.XPATH,"//span[@class='body-small']")     
for i in ratingtag:
    Rating.append(i.text)
#Dataframe for creating table     
df = pd.DataFrame({'Company Name':Company_Name,'No. of days ago when job was posted':Days,'Company Rating':Rating})
df

,Company Name,No. of days ago when job was posted,Company Rating
0,Optum Global Solutions (India) Private Limited,8d ago,4.1
1,Steria India Ltd,21hr ago,4.1
2,Ameriprise Financial,3d ago,4.1
3,Jubilant Foodworks Limited,6hr ago,3.9
4,Optum Global Solutions (India) Private Limited,29d ago,4.1
5,Steria India Ltd,20d ago,4.1
6,Steria India Ltd,20d ago,4.1
7,HCL Technologies Limited,1mon ago,3.8
8,Zyoin,2d ago,4.2
9,GI Group,2hr ago,3.9

# Q10: Write a python program to scrape the salary data for Data Scientist designation.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. 
The above task will be, done as shown in the below steps: 
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image. 
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and 
then click on “Data Scientist”.
You have to scrape the data ticked in the above image. 
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
salary, minimum salary, maximum salary, experience required. 
5. Store the data in a dataframe.

In [112]:
#connecting the web driver
driver = webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

#specifiy the url of the webpage to be scrapped
driver.get("https://www.ambitionbox.com/")
url="https://www.ambitionbox.com/salaries"
driver.get(url)

In [118]:
#creating all empty list
name=[]
totalsalaryrecord=[]
avg_salary=[]
max_salary=[]
min_salary=[]
experience=[]
#extracting URL for company name
title_tags=driver.find_elements_by_xpath("//div[@class='name']/a")
# first 10 company names scraped using for loop
for i in title_tags:
    name.append(i.text)
#extracting salary record for each company
title_tags=driver.find_elements_by_xpath("//div[@class='name']/span")

#scrapping details of total salary record
for i in title_tags:
    totalsalaryrecord.append(i.text)

#extracting URL for min salary

title_tags=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
#scraping min salary for each company

for i in title_tags:
    min_salary.append(i.text)
    

#extracting URL for max salary
title_tags=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")
# scraping max salary for each company
for i in title_tags:
    max_salary.append(i.text)
# extracting avg salary for each company
title_tags=driver.find_elements_by_xpath("//p[@class='averageCtc']")
#scraping avg salary corroespond to each company
for i in title_tags:
    avg_salary.append(i.text)
# extracting URL for total exp across each company required

title_tags=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
# scraping total exp
for i in title_tags:
    experience.append(i.text.replace("\n",""))

#Creating data frame 
jobs=pd.DataFrame({})
jobs['Company Name']=name[0:10]
jobs['Number of salaries']=totalsalaryrecord[0:10]
jobs['Avgarage salary']=avg_salary[0:10]
jobs['Min salary']=min_salary[0:10]
jobs['Max salary']=max_salary[0:10]
jobs['Total Experience']=experience[0:10]
jobs

,Company Name,Number of salaries,Avgarage salary,Min salary,Max salary,Total Experience
0,Microsoft Corporation,based on 209 salaries,₹ 22.4L,₹ 12.0L,₹ 45.0L,Software Engineer . 1-4 yrs exp
1,Goldman Sachs,based on 10 salaries,₹ 21.2L,₹ 16.0L,₹ 30.0L,Software Engineer . 2 yrs exp
2,Flipkart,based on 51 salaries,₹ 20.8L,₹ 7.0L,₹ 30.0L,Software Engineer . 1-4 yrs exp
3,Amazon,based on 75 salaries,₹ 19.2L,₹ 8.0L,₹ 40.0L,Software Engineer . 1-4 yrs exp
4,Servicenow Software Development India,based on 25 salaries,₹ 18.2L,₹ 13.0L,₹ 25.0L,Software Engineer . 2-3 yrs exp
5,ServiceNow,based on 15 salaries,₹ 18.0L,₹ 11.2L,₹ 23.0L,Software Engineer . 3 yrs exp
6,Walmart,based on 70 salaries,₹ 17.9L,₹ 10.0L,₹ 32.0L,Software Engineer . 1-4 yrs exp
7,Arcesium,based on 54 salaries,₹ 17.7L,₹ 12.0L,₹ 30.0L,Software Engineer . 1-2 yrs exp
8,PayPal,based on 12 salaries,₹ 17.6L,₹ 12.0L,₹ 23.0L,Software Engineer . 1 yr exp
9,Visa,based on 26 salaries,₹ 17.1L,₹ 13.0L,₹ 23.0L,Software Engineer . 1-2 yrs exp